.taskItem {
  display: block;
  position: relative;

  .buttonGroup {
    position: absolute;
    right: 2px;
    top: 2px;
    opacity: 0.8;
    visibility: hidden;
    display: flex;
    gap: 3px;
  }

  &:hover {
    .buttonGroup {
      visibility: visible;
    }
  }
}

.taskContent {
  cursor: pointer;
}

.background {
  background: #0009;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  z-index: 1;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.textarea {
  height: 40px;
}
