.control {
  display: flex;
  align-items: center;
  gap: 2px;
  flex: 1;
  border-radius: 8px;
  padding: 4px 8px 4px 6px;
  width: 100%;

  &:hover {
    background-color: #a6c5e229;
  }
}

.icon {
  font-size: 18px;
}
